.post-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    border: black solid 1px;
    width: 400px;
    height: 400px;
    margin: 40px;
    text-align: center;
    
}

.image {
    width: 200px;
    height: 200px;
    
    
}